@import "lib/lesshat.less";
@import "lib/font-awesome.min.css";
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

/*=================================
=            VARIABLES            =
=================================*/

@background: #000;
@text: #fff;
@mainColor: #ec7b1e;
@complementaryColor: #3a509b;
@greyColor:#B9B9B9;
@light: lighten(@complementaryColor,50%);

@specialFont: 'Quicksand', sans-serif;

@border-radius: 3px;
@padding: 15px;

/* Media-queries values : */
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

/*-----  End of VARIABLES  ------*/

.row{
	margin-right: -15px;
}

.background{
	background: url("../img/background.jpg");
	position: absolute;
	top: 0px;
	left:0px;
	z-index: -1;
	width:100%;
	height: 100vh;
	background-position: -100px;
}

.pageContent{
	background: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	margin:300px 20px 20px;
	article{
		padding:0 0 30px 0;
		header{
			.imgUne{
				background: url("../../img/article/canoe.jpg");
				background-position:70% 60%;
				background-size: cover;
				width: 100%;
				height:50vh;
			}
			.titre{
				padding: 0 15px;
				background:#f0954b;
				h1{
					line-height:50px;
					margin:0;
					text-transform: uppercase;
					color:white;
					font-family: @specialFont;
					font-weight: 700;
					font-size:30px;
					@media (max-width:@screen-xs-max){
						font-size: 15px;
					}
				}
			}
		}
		div{
			padding: 15px;
			.quote{
				margin:15px 0px;
				h4{
					text-align: center;
					color:black;
					&::before{
						display: inline-block;
						content: "";
						font-family: "FontAwesome";
						transform:translateY(-10px);
					}
					&::after{
						display: inline-block;
						content: "";
						font-family: "FontAwesome";
						transform:translateY(10px);
					}
				}
				p{
					margin-left: 70px;
					margin-top: 10px;
					font-size: 12px;
					text-align:center;
					&::before{
						content: "- ";
					}
				}				
			}
			a{
				text-decoration: underline;
				color:#3394e7;
				&:hover{
					text-decoration: none;
				}
			
			}
			h3.subtitle{
				margin: 20px 0;
				color: #bd753a;
				text-transform: uppercase;
				text-align: left;
				&::after{
					content:none;
				}
			}
		}
		
	}
	aside{
		background-color:#e5e5e5;
		min-height: 100%;
	}

}


