@import "lib/lesshat";
@import "lib/font-awesome.min.css";
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

/*=================================
=            VARIABLES            =
=================================*/

@background: #000;
@text: #fff;
@mainColor: #ec7b1e;
@complementaryColor: #3a509b;
@greyColor:#B9B9B9;
@yellowColor:#f0bc4b;
@light: lighten(@complementaryColor,50%);

@specialFont: 'Quicksand', sans-serif;

@border-radius: 3px;
@padding: 15px;

/* Media-queries values : */
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

/*-----  End of VARIABLES  ------*/

/*==============================
=            MIXINS            =
==============================*/
.shadow(){
	.box-shadow(0 2px 0 rgba(0,0,0,.15));
	@media (min-width: 768px) {		
		.box-shadow(0 2px 5px rgba(0,0,0,.15));
	}
}

.brightness(@brightness) {
	filter: brightness(@brightness);
	-webkit-filter: brightness(@brightness);
}

.translate(@x, @y) {
	-webkit-transform: translate(@x, @y);
	-moz-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
	transform: translate(@x, @y);
}

.border-top-radius(@radius) {
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
}

.border-bottom-radius(@radius) {
	border-bottom-left-radius: @radius;
	border-bottom-right-radius: @radius;
}


/*-----  End of MIXINS  ------*/

/*==============================
=            LISTHOTEL        =
==============================*/

#listhotel{

	h1 {
		color: @text;
		text-transform: uppercase;
		text-align: left;
		background-color: @mainColor;
		width: 100%;
		padding: 0;
	}

	.hotel {

		padding-bottom: 3vh;
		padding-top: 3vh;
		&:hover {
			background-color: rgba(185, 185, 185, 0.3)
		}

		img {
			border-radius: 5%;
		}

		.hoteldescription {
			.hoteltitle {

				color: @greyColor;
				text-align: left;

				h4 {
					color: @greyColor;
					display: inline-block;
					text-transform: uppercase;
				}
				ul {
					display: inline-block;
				}
				li {
					display: inline-block;
				}

				h2 {
					color: @mainColor;
					text-transform: uppercase;
					text-align: left;
					padding: 0;
				}
			}
			.hotelinfo {
				h4 {
					color: black;
				}
				aside {
					text-align: right;
				}
			}
		}
	}
}

#sidebar {
	margin-top: 3vh;
	background-color: @yellowColor;
	border-radius: @border-radius;

	h2 {
		padding-top: 2vh;
	}
	form {
		margin-top: 4vh;
		text-align: center;

		label {
			margin-top: 4vh;
			text-transform: uppercase;
			color: @text;
		}

		input {
			border: none;
			border-radius: @border-radius;
		}

		/*=================================
		=     DESIGN INPUT TYPE RANGE     =
		=================================*/

		input[type=range]{
			-webkit-appearance: none;
		}

		input[type=range]::-webkit-slider-thumb {
			-webkit-appearance: none;
		}

		input[type=range]:focus {
			outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
		}

		/* Special styling for WebKit/Blink */
		input[type=range]::-webkit-slider-thumb {
			-webkit-appearance: none;
			border: 1px solid @mainColor;
			border-radius: 3px;
			cursor: pointer;
			margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
		}

		/* All the same stuff for Firefox */
		input[type=range]::-moz-range-thumb {
			border: 1px solid @mainColor;
			border-radius: 3px;
			cursor: pointer;
		}

		/* All the same stuff for IE */
		input[type=range]::-ms-thumb {
			border: 1px solid @mainColor;
			border-radius: 3px;
			cursor: pointer;
		}

		input[type=range]::-moz-range-track {
			width: 70%;
			cursor: pointer;
			background: @text;
		}

		input[type=range]::-ms-track {
			width: 70%;
			cursor: pointer;
			background: transparent;
			color: transparent;
		}
		input[type=range]::-ms-fill-lower {
			background: #3071a9;
		}
		input[type=range]::-ms-fill-upper {
			background: #3071a9;
		}
	}
}