@import "lib/lesshat";
@import "lib/font-awesome.min.css";
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

/*=================================
=            VARIABLES            =
=================================*/

@background: #000;
@text: #fff;
@mainColor: #ec7b1e;
@complementaryColor: #3a509b;
@greyColor:#B9B9B9;
@greyBrownColor: #b5ada2;
@light: lighten(@complementaryColor,50%);
@facebookColor: #3b5998;
@twitterColor: #33CCFF;
@googlePlusColor: #DD4B39;

@specialFont: 'Quicksand', sans-serif;

@border-radius: 3px;
@padding: 15px;

/* Media-queries values : */
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

/*-----  End of VARIABLES  ------*/

/*==============================
=            MIXINS            =
==============================*/
.shadow(){
	.box-shadow(0 2px 0 rgba(0,0,0,.15));
	@media (min-width: 768px) {		
		.box-shadow(0 2px 5px rgba(0,0,0,.15));
	}
}

.brightness(@brightness) {
	filter: brightness(@brightness);
	-webkit-filter: brightness(@brightness);
}

.translate(@x, @y) {
	-webkit-transform: translate(@x, @y);
	-moz-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
	transform: translate(@x, @y);
}

.border-top-radius(@radius) {
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
}

.border-bottom-radius(@radius) {
	border-bottom-left-radius: @radius;
	border-bottom-right-radius: @radius;
}


/*-----  End of MIXINS  ------*/

/*==============================
=        RIPPLE EFFECT         =
==============================*/

@duration: 0.4s;
.ripple--effect {
	position: relative;
	padding: 0;
	overflow: hidden;
	outline: none;
	transition: background-color @duration;
	
	&:hover {
		background-color: @mainColor !important;
	}
	
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 0;
		padding-top: 0;
		border-radius: 100%;
		background-color: rgba(236, 123, 30, .3);
		.translate(-50%, -50%);
	}
	
	&:hover:before {
		width: 120%;
		padding-top: 120%;
		transition: width @duration ease-out, padding-top @duration ease-out;
	}
	
	> *  {
		position: relative;
	}
}

/*---  End of Ripple-effect  ----*/

/*==============================
=        BOUNCE EFFECT         =
==============================*/

@-webkit-keyframes bounce {
	0%, 10%, 25%, 40%, 50%, 60%, 75%, 90%, 100% {
		-webkit-transform: translateY(0);
    	transform: translateY(0);
	}
	20%, 70% {
		-webkit-transform: translateY(-30px);
    	transform: translateY(-30px);
	}
	30%, 80 {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@keyframes bounce {
	0%, 10%, 20%, 25%, 40%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	20%, 40% {
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	30%, 60% {
		-webkit-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

.bounce {
	animation: bounce 4s;
	-webkit-animation: bounce 4s;
}

/*---  End of Bounce-effect  ----*/

/*===============================
=            GENERAL            =
===============================*/

body{
	font-family: @specialFont;
	font-size: 18px;
	letter-spacing: 1px;
	padding-top: 110px;
}

*{
	outline: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.full-width-image{
	width: 100%;
	height: auto;
}

h2, h3, h4, h5, h6{
	color: @mainColor;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

@media(max-width: @screen-xs-max) {
	h2{
		//border-bottom: 4px solid lighten(@mainColor, 20%);
		&::after{
			content: "";
			display: block;
			height: 4px;
			margin-top: 10px;
			.border-radius(2px);
			background: lighten(@mainColor, 20%);
		}
	}
}

@media(min-width: @screen-sm-min) {
	h2  {
		box-sizing: border-box;
		padding: 0 @padding;
		//padding: 5px @padding; avec un écart entre le titre et le corps des articles
		text-transform: uppercase;
		text-align: center;
		color: @text;
		span {
			display: inline-block;
			background-color: rgba(0,0,0,0.3);
			padding: 5px @padding;
			.border-radius(2px);
		}
	}
	h3{
		text-transform: uppercase;
		&::after{
			content: "";
			display: block;
			height: 4px;
			margin-top: 10px;
			.border-radius(2px);
			background: lighten(@mainColor, 20%);
		}
	}
}

.mainColor{
	color: @mainColor;
}

/*==========  Links  ==========*/

a{
	&:hover, &:focus, &:active {
		text-decoration: none;
	}
}

a.bubble{
	.fa{
		display: block;
		width: 100%;
		text-align: center;
		background: @mainColor;
		color: #fff;
		.border-radius(50%);
		font-size: 25px;
	}

	p{
		font-weight: bold;
		color: @mainColor;
		text-align: center;
		line-height: normal;
		text-transform: uppercase;
		margin-top: 10px;
	}
}

.button{
	display: block;
	background: @mainColor;
	text-align: center;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: @padding;
	padding: @padding;
	.border-radius(3px);
}

/*-----  End of GENERAL  ------*/



/*=====================================
=            HEADER#HEADER            =
=====================================*/


#header{
	background: #eee;
	height: 110px;
	position: absolute;
	z-index: 9999;
	top: 0;
	width: 100%;
	.shadow;
	h1{
		margin: 0;
		margin-top: 10px;
		padding: 0 10px;
		img{
			height: 90px;
			width: auto;
		}
	}
	@media(max-width: @screen-xs-max) {
		position: fixed;
		#lang{
			display: none;
		}
	}
	// h1 for DESKTOP
	@media(min-width: @screen-sm-min) {
		
		background: none;
		box-shadow: none;
		h1{
			background: #fff;
			display: table-cell;
			vertical-align: bottom;
			padding: 20px;
			box-sizing: content-box;
			position: relative;
			top: -80px;
			left: 35px;
			width: 250px;
			height: 250px;
			.border-radius(50%);
			.shadow();

			.custom-container{
				display: inline-block;
				width: 250px;
				text-align: center;
				position: relative;
				top: 50px;
			}

			img{
				width: 250px;
				height: 143px;
				z-index: 1;
			}
			
			.social-buttons {
				font-size: 25px;
				.fa-stack {
					.fa-circle {
						transition: ease 0.3s all;
						color: @complementaryColor;
					}
				
					i:last-child {
						// Pour avoir la taille des icones comme sur la maquette
						font-size: 15px;
					}
					&:hover {
						.fa-circle {
							color: darken(@complementaryColor, 10%);
						}
					}
				}
			}

			&::before{
				content: "";
				background: #fff	;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 145px;
				z-index: 0;
			}
		}
		nav#lang {
			.shadow();
			position: absolute;
			top: 170px;
			left: 25px;
			border: solid 5px #fff;
			border-radius: 100%;
			
			img {
				transition: all 0.5s;
			}
			
			&:hover {
				img {
					.brightness(1.2);
				}
			}
		}
	}

	// Menu for MOBILE
	@media(max-width: @screen-xs-max) {
		#responsiveMenu{
			float: right;
			font-family: @specialFont;
			#triggerMenu{
				height: 110px;
				line-height: 110px;
				padding: 0 30px 0 10px;
				background: none;
				border: none;
				font-size: 24px;
				font-family: @specialFont;
				font-weight: 700;
				text-transform: uppercase;

				span{
					font-size: 16px;
					position: relative;
					bottom: 3px;
					right: 8px;
				}
			}
			>ul{
				position: absolute;
				left: 0;
				right: 0;
				background: @complementaryColor;

				li{
					a{
						color: #fff;
						font-weight: 700;
						text-transform: uppercase;
						display: block;
						padding: 15px;
						width: 100%;
						
						&:not(.sub-item) {
							span {
								width: 90%;
								display: inline-block;
							}

							i {
								padding: 7px;
								transition: transform ease-out 0.333s;
							}
						}
					}

					&.current-menu-item a{
						background: @mainColor;
						span{
							color: #fff;
						}
					}
					
					ul{
						display: none;
						text-indent: 25px;
						li a span {
							margin-left: 20px;
						}
						li a img {
							vertical-align: top;
						}
					}
				}

				&::before{
					content: "";
					display: block;
					position: absolute;
					top: -10px;
					right: 31px;
					height: 0;
					width: 0;
					border: solid 10px transparent;
					border-bottom-color: @complementaryColor;
					.transition(top 0.3s);
				}

				&.before::before{
					top: -20px;
				}

				&.colorFix {
					&::before{
						border-bottom-color: @mainColor;
					}
				}
			}
		}
	}
	// Menu for DESKTOP
	@media(min-width: @screen-sm-min) {

		#responsiveMenu {
			position: absolute;
			right: 0px;
			
			ul {
				height: 150px;
				//clearfix
				&:after {
					clear: both;
					display: block;
					content: '';
				}
				margin-top: 20px;
				display: block !important;
				list-style: none;
				
				li {
					@media(max-width: 1110px) {margin: 0 10px;}
					vertical-align: top;
					display: inline-block;
					border-radius: 100%;
					margin: 0 20px 0 20px;
					&:hover a:not(.sub-item) {
						transition: @duration;
						background-color: @mainColor;
						span {
							color: #fff;
						}	
					}
					
					a {
						@media(max-width: 1110px) {width: 100px; height: 100px;}
						display: block;
						border-radius: 100%;
						width: 150px;
						height: 150px;
						.shadow();
						background-color: #fff;
						text-decoration: none;
						shape-outside: circle(50%);
						webkit-clip-path: circle(50%);
						
						
						 span {
						 	@media(max-width: 1110px) {line-height: 100px; font-size: 12px;}
							 display: block;
							 text-align: center;
							 line-height: 150px;
							 text-transform: uppercase;
							 font-family: @specialFont;
							 font-weight: 700;
							 color: #445FA2;
							 transition: all ease 0.3s;

							 &:hover {
								 color: #fff;
							 }
						}
					}
					
					&.current-menu-item a{
						background: @mainColor;
						span{
							color: #fff;
						}
					}

					.submenu {
						height: auto;
						position: absolute;
						top: 0;
						z-index: -1 !important;
						li {
							display: inline-block;
							margin: 0;
							a {
								@media(max-width: 1110px) {padding-top: 50px;}
								transition: all .1s ease-in;
								opacity: 0;
								width: auto;
								height: auto;
								position: relative;
								top: 0;
								background: none;
								box-shadow: none;
								border-radius: 0;
								text-align: center;
								margin: 0;
								padding-top: 70px;
								img {
									background-color: #fff;
									border-radius: 100%;
									padding: 10px;
									width: 40px;
									height: 40px;
								}
								span {
									//opacity: 0;
									color: #fff;
									font-size: 11px;
									line-height: 20px;
								}
								&:hover span {
									transition: opacity ease 0.3s;
									opacity: 1;
								}
							}
						}
					}
					
					&:hover .submenu {
						z-index: 1;
						li a {
							@media(max-width: 1110px) {.translate(0, 70px);}
							opacity: 1;
							.translate(0, 100px);
							transition: all .1s ease-out;
						}
						li a.transition-delay0 {transition-delay: 0 !important;}
						li a.transition-delay1 {transition-delay: .05s !important;}
						li a.transition-delay2 {transition-delay: .1s !important;}
						li a.transition-delay3 {transition-delay: .15s !important;}
						li a.transition-delay4 {transition-delay: .2s !important;}
						li a.transition-delay5 {transition-delay: .25s !important;}
						li a.transition-delay6 {transition-delay: .3s !important;}
						li a.transition-delay7 {transition-delay: .35s !important;}
						li a.transition-delay8 {transition-delay: .4s !important;}
						li a.transition-delay9 {transition-delay: .45s !important;}
						li a.transition-delay10 {transition-delay: .5s !important;}
					}
					
					&:last-child .submenu {
						right: 5px;
					}
				}
			}
		}	
	}
}

/*-----  End of HEADER  ------*/


/*=======================================
=            SECTION GENERAL            =
=======================================*/

section{
	.border-radius(3px);
	margin-bottom: @padding*2;
}

/*-----  End of SECTION GENERAL  ------*/



/*=====================================
=            Section .actu            =
=====================================*/

section.actu{
	article{
		padding: @padding;
		@media(max-width: @screen-xs-max) {
			background: @light;
			border-bottom:solid 3px #ccc;
			.border-radius(3px);
			margin-bottom: 15px;
		}
		header{
			margin-bottom: @padding;
			font-size: 0;
			a.title {
				color: @mainColor;
				display: inline-block;
				text-transform: uppercase;
			}
            
            .social-buttons {
                display: inline-block;
                margin-top: 5px;
                section {
                    display: inline-block;
                    margin: 0;
                }
                a {
                    
                    &:hover, &.active{
                        cursor: pointer;
                        span.buttons {
                            text-shadow: 0 2px 2px rgba(0,0,0,0.3);
                            transition-timing-function: ease-in;
                            background-color: darken(@greyBrownColor, 10%);
                        }
                    }
                    span.buttons {
                        transition: all ease-out 0.3s;
                        margin-left: 5px;
                        color: #fff;
                        background-color: @greyBrownColor;
                        .border-radius(5px);
                        padding: 5px 5px 3px 5px;
                        font-weight: 100;
                        font-size: 18px;
                        i.fa {
                            margin-right: 5px;
                        }
                    }
                }
                .share-menu {
                    .shadow();
                    &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0px;
                        height: 0;
                        width: 0;
                        border: solid 7px transparent;
                        border-bottom-color: darken(@greyBrownColor, 10%);
                        .transition(top 0.3s);
                    }
                    &.before::before{
                        top: -13px;
                    }
                    position: absolute;
                    margin-top: 10px;
                    background-color: darken(@greyBrownColor, 10%);
                    .border-radius(5px);
                    padding: 15px 20px;
                    
                    h6 {
                        color: #fff;
                        margin-bottom: 7px;
                    }
                    ul {
                        font-size: 10px;
                        color: #fff;
                        li {
                            a{
                                width: 100%;
                                display: block;
                                overflow: hidden;
                                background-color: #fff;
                                .border-radius(20px);
                                padding: 5px 0;
                                .transition(all ease-out .2s);
                                
                                &[title=facebook] {
                                    color: @facebookColor;
                                    span i::after {
                                        background: @facebookColor;
                                    }
                                }
                                &[title=twitter] {
                                    color: @twitterColor;
                                    span i::after {
                                        background: @twitterColor;
                                    }
                                }
                                &[title=googlePlus] {
                                    color: @googlePlusColor;
                                    span i::after {
                                        background: @googlePlusColor;
                                    }
                                }
                                span {
                                    .transition(all ease-in .2s);
                                    i {
                                        position: relative;
                                        left: -20px;
                                        opacity: 0;
                                        font-size: 12px;
                                        .transition(all ease-out .05s);
                                        &::after{
                                            content: "";
                                            opacity: 0.4;
                                            display: inline-block;
                                            position: absolute;
                                            top: -5px;
                                            left: 17px;
                                            width: 1px;
                                            height: 22px;
                                            z-index: 999;
                                        }
                                    }
                                }
                                &:hover {
                                    .shadow();
                                    transition-timing-function: ease-in-out;
                                    span {
                                        margin-left: 20px;
                                        i {
                                            .transition(all ease-out .1s);
                                            transition-delay: 0.25s;
                                            opacity: 1;
                                            left: -15px;
                                        }
                                    }
                                }
                            }
                            &:not(:last-child) {
                                margin-bottom: 7px;
                            }
                            
                        }
                    }
                }
            }	
		}
		section {
			@media(max-width: @screen-xs-max){
				text-align: center;
				img{ width: 90%;}
				p {
					text-align: left;
				}
				aside {text-align:right;}
			}

			@media(min-width: @screen-sm-min){
				img{
					width: 100%;
					float: left;
					margin-right: 15px;
					margin-bottom: 5px;
					
				}
				&:after {
				   content: " "; /* Older browser do not support empty content */
				   visibility: hidden;
				   display: block;
				   height: 0;
				   clear: both;
				}
			}
			@media(min-width: @screen-md-min){
				img{ width: 50%;}
			}
			img{
				.border-radius(3px);
				margin-bottom: 15px;
			}
			p{
				font-size: 16px;
			}
			aside{
				a {
					color: @mainColor;
					font-weight: 700;

					span.text {
						text-transform: uppercase;
						font-size: 14px;
					}
					.fa-angle-right{
						display: none;
						margin-right: 10px;
					}
					.fa-stack{
						margin-left: 5px;
						i:first-child{
							font-size: 50px;
							line-height: 35px;
						}
						i:last-child{
							text-indent: 7px;
						}
					}
				}
			}
		}
	}
	
	>a {
		@media (max-width: @screen-xs-max) {
			border-bottom:solid 3px darken(@mainColor, 10%);
		}
		&:hover , &:active, &:focus{
			color: #fff;
		}
	}
}

@media (min-width: @screen-sm-min) {
	#content-page {
		position: relative;
		margin-top: 80vh;
	}
	
	section.actu {
		padding-right: 0;//pour coller la sidebar
	}
}

/*-----  End of Section .actu  ------*/



/*========================================================
=            Sidebar à droite des articles               =
=========================================================*/

aside#sidebar{
	padding-left: 0; //pour coller la sidebar
	height: 1000px;
	p {
		background: #b9b9b9;
		display: inline-block;
		height: 1000px;
		width: 100%;
	}
}

/*========================================================
=            Index Full slider (.full-slider)            =
=========================================================*/

#maximage-container {
	#cycle-loader {
		top: 50%;
		left: 50%;
		width: 18px;
		position: absolute;
		z-index:999;
	}
	
	#arrow_left, #arrow_right {
		bottom:30px;
		height:67px;
		position:absolute;
		right:30px;
		width:36px;
		z-index:1000;
		transition: all 0.3s ease-out;
		
		&:hover {
			transition: all 0.3s ease-in;
		}
	}
	#arrow_left {
		right:100px;
		&:hover {
			.translate(0, -3px);
		}
	}
	
	#arrow_right {
		&:hover {
			.translate(0, -3px);			
		}
	}

	
	#maximage {
		position: absolute;
		
		.in-slide-content {
			color: #fff;
			.border-radius(5px);
			background: rgba(0,0,0,0.5);
			padding: 20px;
			text-shadow: 0 2px 3px #000;
			float:right;
			font-size:30px;
			right:20px;
			position:absolute;
			bottom: 150px;
			width: 35%;
			z-index:9999; /* Show above .gradient */
			-webkit-font-smoothing:antialiased;
		}
	}
}

section.full-slider{
	padding: 0;
	.box-shadow(none);
	.border-radius(0);
	figure{
		position: relative;
		img{
			z-index: -1;
		}

		figcaption{
			font-family: @specialFont;
			position: absolute;
			bottom: 0;
			padding: @padding;
			width: 100%;
			background: rgba(0,0,0,.5);
			font-weight: 700;
			color: #fff;
			font-size: 28px;
			h2{
				font-weight: 700;
				margin: 0;
				padding: 0;
				color: #fff;

				&::after{
					display: none;	
				}
			}
			p{
				font-size: 20px;
				padding: 0;
				margin: 0;
			}
		}
	}
}

/*-----  End of Index Full slider (.full-slider)  ------*/

/*=================================
=			Dropdown #dropdown    =
=================================*/

nav#dropdown-link {
	text-align: center;
	position: relative;
	top: 70vh;
	
	a {
        .bounce;
		.fa-stack{
			margin-left: 10px;

			i:first-child {
				font-size: 50px;
				line-height: 35px;
				color: @mainColor;
			}
			i:last-child {
				text-indent: 7px;
			}
		}
	}
}


/*=================================
=            NAV.inset            =
=================================*/

nav.inset{
	margin-top: @padding;
	margin-bottom: @padding;
}

/*-----  End of NAV.inset  ------*/



/*======================================
=            METEO SECTION (#meteo)    =
======================================*/

#maximage {}

#meteo-section{
	font-weight: 700;
	//.border-radius(0);
	padding: @padding;
	background: @light;
	border-bottom:solid 3px #ccc;
	header{
		text-align: left;
		margin-bottom: @padding;
		h2{
			font-size: 20px;
			&::after{
				content: none;
			}
		}

		h3{
			color: darken(@mainColor, 20%);
		}
	}

	.temperature{
		margin: 0;
		font-size: 28px;
		text-align: right;
	}
	p{
		text-align: right;
		margin-bottom: 0;
	}
}

/*-----  End of METEO SECTION (#meteo)  ------*/
/*======================================
=            PUCES NAVIGATIONS #navDots =
========================================*/

#navDots{
	margin-top: 30px;
	text-align: center;
	ul {
		li {
			display: inline-block;
			a {
				letter-spacing: -1px;
				font-weight: 700;
			}
			&:not(:last-child) {
				margin-right: 5px;
			}
			&:first-child a, &:last-child a{
				text-transform: uppercase;
				color: @mainColor;
				&[href=""]{
					color: @greyColor
				}
			}

		}
		.dots {
			a {
				background: @mainColor;
				border-radius: 100%;
				width: 30px; height: 30px;
				display: block;
				color: #fff;
				line-height: 30px;
			}
			&.current a, &.visited a {
				background: @greyColor;
			}
		}
	}
}

/*======================================
=            FOOTER #FOOTER            =
======================================*/

#footer{
	text-align: center;
	background: @light;
	padding: @padding;
	color: #888;
}

/*-----  End of FOOTER #FOOTER  ------*/










