@import "lib/lesshat";
@import "lib/font-awesome.min.css";
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

/*=================================
=            VARIABLES            =
=================================*/

@background: #000;
@text: #fff;
@mainColor: #ec7b1e;
@complementaryColor: #3a509b;
@light: lighten(@complementaryColor,50%);

@specialFont: 'Quicksand', sans-serif;

@border-radius: 3px;
@padding: 15px;

/* Media-queries values : */
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

/*-----  End of VARIABLES  ------*/

/*==============================
=            MIXINS            =
==============================*/
.shadow(){
	.box-shadow(0 2px 0 rgba(0,0,0,.15));
	@media (min-width: 768px) {		
		.box-shadow(0 2px 5px rgba(0,0,0,.15));
	}
}

.brightness(@brightness) {
	filter: brightness(@brightness);
	-webkit-filter: brightness(@brightness);
}

.translate(@x, @y) {
	-webkit-transform: translate(@x, @y);
	-moz-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
	transform: translate(@x, @y);
}


/*-----  End of MIXINS  ------*/

/*==============================
=        RIPPLE EFFECT         =
==============================*/

@duration: 0.4s;
.ripple--effect {
	position: relative;
	padding: 0;
	overflow: hidden;
	outline: none;
	transition: background-color @duration;
	
	&:hover {
		background-color: @mainColor !important;
	}
	
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 0;
		padding-top: 0;
		border-radius: 100%;
		background-color: rgba(236, 123, 30, .3);
		.translate(-50%, -50%);
	}
	
	&:hover:before {
		width: 120%;
		padding-top: 120%;
		transition: width @duration ease-out, padding-top @duration ease-out;
	}
	
	> *  {
		position: relative;
	}
}

/*---  End of Ripple-effect  ----*/

/*===============================
=            GENERAL            =
===============================*/

body{
	font-family: @specialFont;
	font-size: 18px;
	letter-spacing: 1px;
	@media (min-width: @screen-sm-min) {
		background: url(../img/background.jpg);
		background-size: cover;
	}
	padding-top: 110px;
}

*{
	outline: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.full-width-image{
	width: 100%;
	height: auto;
}

h2, h3, h4, h5, h6{
	color: @mainColor;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

h2{
	padding-bottom: 5px;
}

h3{
	//border-bottom: 4px solid lighten(@mainColor, 20%);

	&::after{
		content: "";
		display: block;
		height: 4px;
		margin-top: 10px;
		.border-radius(2px);
		background: lighten(@mainColor, 20%);
	}
}

.mainColor{
	color: @mainColor;
}

/*==========  Links  ==========*/

a{
	&:hover, &:focus, &:active {
		text-decoration: none;
	}
}

a.bubble{
	.fa{
		display: block;
		width: 100%;
		text-align: center;
		background: @mainColor;
		color: #fff;
		.border-radius(50%);
		font-size: 25px;
	}

	p{
		font-weight: bold;
		color: @mainColor;
		text-align: center;
		line-height: normal;
		text-transform: uppercase;
		margin-top: 10px;
	}
}

.button{
	display: block;
	background: @mainColor;
	text-align: center;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: @padding;
	padding: @padding;
	.border-radius(3px);
}

/*-----  End of GENERAL  ------*/



/*=====================================
=            HEADER#HEADER            =
=====================================*/


#header{
	background: #eee;
	height: 110px;
	position: absolute;
	z-index: 9999;
	top: 0;
	width: 100%;
	.shadow;
	h1{
		margin: 0;
		margin-top: 10px;
		padding: 0 10px;
		img{
			height: 90px;
			width: auto;
		}
	}
	@media(max-width: @screen-xs-max) {
		position: fixed;
		#lang{
			display: none;
		}
	}
	// h1 for DESKTOP
	@media(min-width: @screen-sm-min) {
		
		background: none;
		box-shadow: none;
		h1{
			background: #fff;
			display: table-cell;
			vertical-align: bottom;
			padding: 20px;
			box-sizing: content-box;
			position: relative;
			top: -80px;
			left: 35px;
			width: 250px;
			height: 250px;
			.border-radius(50%);
			.shadow();

			.custom-container{
				display: inline-block;
				width: 250px;
				text-align: center;
				position: relative;
				top: 50px;
			}

			img{
				width: 250px;
				height: 143px;
				z-index: 1;
			}
			
			.social-buttons {
				font-size: 25px;
				.fa-stack {
					.fa-circle {
						transition: ease 0.3s all;
						color: @complementaryColor;
					}
				
					i:last-child {
						// Pour avoir la taille des icones comme sur la maquette
						font-size: 15px;
					}
					&:hover {
						.fa-circle {
							color: darken(@complementaryColor, 10%);
						}
					}
				}
			}

			&::before{
				content: "";
				background: #fff	;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 145px;
				z-index: 0;
			}
		}
		nav#lang {
			.shadow();
			position: absolute;
			top: 170px;
			left: 25px;
			border: solid 5px #fff;
			border-radius: 100%;
			
			img {
				transition: all 0.5s;
			}
			
			&:hover {
				img {
					.brightness(1.2);
				}
			}
		}
	}

	// Menu for MOBILE
	@media(max-width: @screen-xs-max) {
		#responsiveMenu{
			float: right;
			font-family: @specialFont;
			#triggerMenu{
				height: 110px;
				line-height: 110px;
				padding: 0 30px 0 10px;
				background: none;
				border: none;
				font-size: 24px;
				font-family: @specialFont;
				font-weight: 700;
				text-transform: uppercase;

				span{
					font-size: 16px;
					position: relative;
					bottom: 3px;
					right: 8px;
				}
			}
			>ul{
				//display: none;
				position: absolute;
				left: 0;
				right: 0;
				background: @complementaryColor;

				li{
					a{
						color: #fff;
						font-weight: 700;
						text-transform: uppercase;
						display: block;
						padding: 15px;
						width: 100%;
						
						&:not(.sub-item) {
							span {
								width: 90%;
								display: inline-block;
							}

							i {
								padding: 7px;
								transition: transform ease-out 0.333s;
							}
						}
					}

					&.current-menu-item a{
						background: @mainColor;
						span{
							color: #fff;
						}
					}
					
					ul{
						display: none;
						text-indent: 25px;
						li a span {
							margin-left: 20px;
						}
						li a img {
							//petit truc degueux..
							vertical-align: top;
						}
					}
				}

				&::before{
					content: "";
					display: block;
					position: absolute;
					top: -10px;
					right: 31px;
					height: 0;
					width: 0;
					border: solid 10px transparent;
					border-bottom-color: @complementaryColor;
					.transition(top 0.3s);
				}

				&.before::before{
					top: -20px;
				}
			}
		}
	}
	// Menu for DESKTOP
	@media(min-width: @screen-sm-min) {

		#responsiveMenu {
			position: absolute;
			right: 0px;

			ul {
				height: 150px;
				//clearfix
				&:after {
					clear: both;
					display: block;
					content: '';
				}
				margin-top: 20px;
				display: block !important;
				list-style: none;
				
				li {
					display: inline-block;
					border-radius: 100%;
					margin: 0 20px 0 20px;
					&:hover a:not(.sub-item) {
						transition: @duration;
						background-color: @mainColor;
						span {
							color: #fff;
						}	
					}

					a {
						display: block;
						border-radius: 100%;
						width: 150px;
						height: 150px;
						.shadow();
						background-color: #fff;
						text-decoration: none;
						shape-outside: circle(50%);
						webkit-clip-path: circle(50%);

						 span {
							 display: block;
							 text-align: center;
							 line-height: 150px;
							 text-transform: uppercase;
							 font-family: @specialFont;
							 font-weight: 700;
							 color: #445FA2;
							 transition: all ease 0.3s;

							 &:hover {
								 color: #fff;
							 }
						}
					}
					
					&.current-menu-item a{
						background: @mainColor;
						span{
							color: #fff;
						}
					}

					.submenu {
						height: auto;
						position: absolute;
						top: 0;
						z-index: -1;
						li {
							display: inline-block;
							margin: 0;
							a {
								transition: all .1s ease-in;
								opacity: 0;
								width: auto;
								height: auto;
								position: relative;
								top: 0;
								background: none;
								box-shadow: none;
								border-radius: 0;
								text-align: center;
								margin: 0;
								padding-top: 70px;
								img {
									background-color: #fff;
									border-radius: 100%;
									padding: 10px;
									width: 40px;
									height: 40px;
								}
								span {
									opacity: 0;
									color: #fff;
									font-size: 11px;
									line-height: 20px;
								}
								&:hover span {
									transition: opacity ease 0.3s;
									opacity: 1;
								}
							}
						}
					}
					
					&:hover .submenu {
						li a {
							opacity: 1;
							transform: translateY(100px);
							transition: all .1s ease-out;
						}
						li a.transition-delay0 {transition-delay: 0 !important;}
						li a.transition-delay1 {transition-delay: .05s !important;}
						li a.transition-delay2 {transition-delay: .1s !important;}
						li a.transition-delay3 {transition-delay: .15s !important;}
						li a.transition-delay4 {transition-delay: .2s !important;}
						li a.transition-delay5 {transition-delay: .25s !important;}
						li a.transition-delay6 {transition-delay: .3s !important;}
						li a.transition-delay7 {transition-delay: .35s !important;}
						li a.transition-delay8 {transition-delay: .4s !important;}
						li a.transition-delay9 {transition-delay: .45s !important;}
						li a.transition-delay10 {transition-delay: .5s !important;}
					}
					
					&:last-child .submenu {
						right: 5px;
					}
				}
			}
			
			@media(max-width: 1110px) { //TODO : à débuger
				li {
					margin: 0 10px !important;
					a:not(.sub-item) {
						width: 100px !important;
						height: 100px !important;
						span {
							line-height: 100px !important;
							font-size: 12px;
						}
					}
					&:hover {
						padding-bottom: 20px;
					}
					&:hover .submenu a {
						padding-top: 10px !important;
					}
				}
			}
		}	
	}
}

/*-----  End of HEADER  ------*/


/*=======================================
=            SECTION GENERAL            =
=======================================*/

section{
	.border-radius(3px);
	margin-bottom: @padding*2;
	//background: @light;
	// .shadow;
	header {
		h2{
			color: @light;
			background: rgba(0, 0, 0, 0.3);
			display: block;
			margin: auto;
			text-align: center;
			width: 500px;
		}
	}
}

/*-----  End of SECTION GENERAL  ------*/



/*=====================================
=            Section .actu            =
=====================================*/

section.actu{
	/* A SUPPRIMER A SUPPRIMER A SUPPRIMER A SUPPRIMER A SUPPRIMER  */
	margin-top: 200px;
	/* A SUPPRIMER A SUPPRIMER A SUPPRIMER A SUPPRIMER A SUPPRIMER  */
	
	article{
		header{
			margin-bottom: @padding;
		}
		background: @light;
		padding: @padding;
		margin-top: @padding;
		.border-radius(3px);

		aside{
			font-weight: 700;
			.fa{
				margin-right: 10px;
			}
			a{
				display: block;
				margin: -@padding;
				padding: @padding;
				margin-top: 0;
			}
		}
	}
}

/*-----  End of Section .actu  ------*/




/*========================================================
=            Index Full slider (.full-slider)            =
=========================================================*/

section.full-slider{
	padding: 0;
	.box-shadow(none);
	.border-radius(0);
	figure{
		position: relative;
		img{
			z-index: -1;
		}

		figcaption{
			font-family: @specialFont;
			position: absolute;
			bottom: 0;
			padding: @padding;
			width: 100%;
			background: rgba(0,0,0,.5);
			font-weight: 700;
			color: #fff;
			font-size: 28px;
			h2{
				font-weight: 700;
				margin: 0;
				padding: 0;
				color: #fff;

				&::after{
					display: none;	
				}
			}
			p{
				font-size: 20px;
				padding: 0;
				margin: 0;
			}
		}
	}
}

/*-----  End of Index Full slider (.full-slider)  ------*/


/*=================================
=            NAV.inset            =
=================================*/

nav.inset{
	margin-top: @padding;
	margin-bottom: @padding;
}

/*-----  End of NAV.inset  ------*/



/*======================================
=            METEO SECTION (#meteo)            =
======================================*/

#meteo-section{
	font-weight: 700;
	//.border-radius(0);
	padding: @padding;
	background: @light;
	border-bottom:solid 3px #ccc;
	header{
		text-align: left;
		margin-bottom: @padding;
		h2{
			font-size: 20px;
			&::after{
				content: none;
			}
		}

		h3{
			color: darken(@mainColor, 20%);
		}
	}

	.temperature{
		margin: 0;
		font-size: 28px;
		text-align: right;
	}
	p{
		text-align: right;
		margin-bottom: 0;
	}
}

/*-----  End of METEO SECTION (#meteo)  ------*/

/*======================================
=            FOOTER #FOOTER            =
======================================*/

#footer{
	text-align: center;
	background: @light;
	padding: @padding;
	color: #888;
}

/*-----  End of FOOTER #FOOTER  ------*/






